@model ResultGetBlogByIdDTO
<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>

    @await Component.InvokeAsync("_BlogDetailCloudTagByBlogComponent",new{id=ViewBag.Id})
    @await Component.InvokeAsync("_BlogAuthorAboutComponent", new { id = ViewBag.Id })

    <div class="pt-5 mt-5">
        <h3 class="mb-5">Yorumlar (@ViewBag.CommentCount)</h3>
        
        @await Component.InvokeAsync("_CommentListByBlogComponent", new { id = ViewBag.Id })
@*         @await Component.InvokeAsync("_AddCommentComponent", new { id = ViewBag.Id })
 *@
        @await Html.PartialAsync("~/Views/Blog/AddComment.cshtml", new { id = ViewBag.Id })
    </div>

</div>