
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">  
@await Component.InvokeAsync("_HeadUILayoutComponent")
  <body>
    @await Component.InvokeAsync("_NavbarUILayoutComponent")
    @await Component.InvokeAsync("_DefaultCoverUILayoutComponent")
	@await Component.InvokeAsync("_RentACarFilterComponent")
    @await Component.InvokeAsync("_DefaultLast5CarsWithBrandComponent")    
    @await Component.InvokeAsync("_AboutUsComponent")
    @await Component.InvokeAsync("_ServiceComponent")   
    @await Component.InvokeAsync("_BecomeDriverComponent") 
    @await Component.InvokeAsync("_TestimonialComponent")
	@await Component.InvokeAsync("_GetLast3BlogsWithAuthorComponent")
	@await Component.InvokeAsync("_DefaultStatisticsComponent")    
    @await Component.InvokeAsync("_FooterUILayoutComponent")
    @await Component.InvokeAsync("_ScriptUILayoutComponent")
    
  </body>
</html>
