@model List<ResultAboutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Ana Sayfa Hakkımızda Alanı<a href="/Admin/AdminAbout/CreateAbout" class="btn btn-outline-primary">Yeni Hakkımda Alanı Girişi</a>
                </h4>
                <p class="card-subtitle mb-4">
                    Ana sayfanın ve Hakkımızda sayfasının "hakkım" alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>Açıklama</th>
                                <th>Görsel</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.ImageUrl</td>
                                    <td><a data-id="@item.Id" class="btn btn-outline-danger Delete">Sil</a></td>
                                    <td><a href="/Admin/AdminAbout/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(".table").on("click", ".Delete", function () {
        var btn = $(this); //tıklanan butonu yakalar
        var id = btn.data("id"); //tıklanan datanın id özelliğini getirir
        Swal.fire({
            title: 'UYARI!',
            text: "Seçilen hakkımda alanını silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/AdminAbout/RemoveAbout/" + id,
                    success: function (s) {
                        if (s) {
                            Swal.fire(
                                'Başarılı!',
                                'Seçilen Hakkımda Silindi .',
                                'success'
                            )
                            btn.parent().parent().remove();
                        }
                    }
                });
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    text: 'Silme işlemi yapılmadı'
                });
            }
        });
    });
</script>

